body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #283136;
  outline: 1px solid black;
}

.main-header {
  outline: 1px solid black;
  margin: 0;
  background-color: #eeeeee;
}

.centering {
  outline: 1px solid black;
  margin: 0;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  outline: 1px solid black;
}

.main-logo {
  outline: 1px solid black;
  float: left;
  width: 319px;
  padding-top: 27px;
  padding-bottom: 33px;
}

.main-logo img {
  outline: 1px solid black;
  vertical-align: bottom;

}

.main-navigation {
  outline: 1px solid black;
  font-size: 0;
  float: right;

}

.main-navigation ul {
  outline: 1px solid black;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;

}

.main-navigation li {
  outline: 1px solid black;
  display: inline-block;
  margin-right: 47px;
  font-size: 14px;
  padding-top: 53px;
  padding-bottom: 33px;
  line-height: 30px;

}

.main-navigation li:nth-child(5) {
  margin-right: 0;
  margin-left: 20px;
  padding-left: 28px;
}

.main-navigation a {
  text-decoration: none;
  color: #000;
}

.slider {
  outline: 1px solid black;
  position: relative;
  width: 880px;
  min-height: 319px;
  margin: 0 auto;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  outline: 1px solid black;
  width: 100%;
  height: 319px;
  background-repeat: no-repeat;
  background-position: 100% 10px;

  -webkit-transition: left 0.3s ease;
   -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  z-index: 10;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  vertical-align: top;
  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slide-text {
  outline: 1px solid black;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 96px;
}

.slide b {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
}

.slide p  {
  font-weight: 500;
  line-height: 22px;
  color: #283136;
}

.slide .btn {
  display: block;
  width: 220px;
  margin-top: 25px;
  padding: 12px 10px;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}

.slide:nth-child(1) {
  background-image: url("../img/img-slide-1.png");
}

.slide:nth-child(2) {
  background-image: url("../img/img-slide-2.png");
}

.slide:nth-child(3) {
  background-image: url("../img/img-slide-3.png");
  background-position: 100% 0;
}

.slide {
  display: none;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2),
#btn-1:checked ~ .slides .slide:nth-child(3) {
  left: 880px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  left: 0;
}

#btn-2:checked ~ .slides .slide:nth-child(3) {
  left: -880px;
}

#btn-3:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}

#btn-3:checked ~ .slides .slide:nth-child(2) {
  left: -880px;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  left: 0;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}
